<h1>users</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!Users"><em>Loading...</em></p>

<table class='table' *ngIf="Users">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserCode</th>
            <!--<th>FxRoleId</th>-->
            <th>Name</th>
            <th>Surname</th>
            <!--<th>FxRole</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of Users">
            <td>{{ user.Id }}</td>
            <td>{{ user.UserGaia }}</td>
            <!--<td>{{ user.FxRoleId }}</td>-->
            <td>{{ user.Name }}</td>
            <td>{{ user.Surname }}</td>
            <!--<td>{{ user.FxRole }}</td>-->
        </tr>
    </tbody>
</table>
